<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
                        <h3 class="page-header">Our Product 

                        </h3>
                        <ul class="list-group">
                        <li class="list-group-item">Spices and Masalas</li>
                        <li class="list-group-item">Salt,Sugar and Jaggary</li>
                        <li class="list-group-item">Rice</li>
                        <li class="list-group-item">Dal</li>
                        <li class="list-group-item">Dry fruits and Nuts</li>
                        </ul>
                    </div>
                                <div class="col-sm-9">
                                    <h1 class="text-center">Admin Login Here</h1>
                                    <form>
                                        <div class="form-group">
                                            <label for="name">Name :</label>
                                            
                                            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                                            </div>
                                        
                        
                                            <div class="form-group">
                                                <label  for="address">Address :</label>
                                                
                                                <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                                                </div>
                                           
                        
                                                <div class="form-group">
                                                    <label  for="city">City :</label>
                                                    
                                                        <select class="form-control" id="city" name="city" placeholder="Enter city">
                                                        <option value="">--select--</option>
                                                        <option>Satara</option>
                                                        <option>Pune</option>
                                                        <option>Mumbai</option>
                                                        
                                                        </select>
                                                 </div>
                                                
                                        <label>Gender : </label><br>
                                            <label class="radio-inline"><input type="radio" name="gender" value="Male" >Male</label>
                                            <label class="radio-inline"><input type="radio" name="gender" value="Female">Female</label>
                                            <label class="radio-inline"><input type="radio" name="gender" value="Other">Other</label>
                                            
                        
                                        <div class="form-group">
                                        <br><label  for="contact">Contact :</label>
                                            
                                            <input type="tel" class="form-control" id="contact" name="contact" placeholder="Enter email">
                                            </div>
                                       
                            
                        
                                        <div class="form-group">
                                            <label for="emailid">Email :</label>
                                            
                                                <input type="text" class="form-control" id="emailid" name="emailid" placeholder="Enter emailid">
                                            </div>
                                        
                                        
                                        <div class="form-group">
                                        <label  for="password">Password :</label>
                                        
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
                                        </div>
                                       
                                        <div class="form-group">
                                        
                                            <div class="checkbox">
                                            <label><input type="checkbox"> Remember me</label>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                       
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                        
                                    </form>
                                
                    



                    </div>
                        
                
             
            

        </div>
    </div>


