<p>feedback works!</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
                        <h3 class="page-header">Our Product 

                        </h3>
                        <ul class="list-group">
                        <li class="list-group-item">Spices and Masalas</li>
                        <li class="list-group-item">Salt,Sugar and Jaggary</li>
                        <li class="list-group-item">Rice</li>
                        <li class="list-group-item">Dal</li>
                        <li class="list-group-item">Dry fruits and Nuts</li>
                        </ul>
                    </div>
                                <div class="col-sm-9">
                                    <h1 class="text-center">Valuable Feedback </h1>
                                    <form (ngSubmit)="submitdata()">

                                        
                        
                                            <div class="form-group">
                                                <label  for="message">Message :</label>
                                                <textarea class="form-control" id="message" name="message" [(ngModel)]="fd.message" placeholder="Enter message"> </textarea>
                                                </div>
                                           
                        
                                                
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        
                                        
                                    </form>
                                
                    



                    </div>
                        
                
             
            

        </div>
    </div>

